{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">

 {% include "app/_header_down.html" %}

  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-body">
        <!-- ############ PAGE START-->
        <div class="row-col white">
        	<div class="padding">
        	    <div class="col-md-8 offset-sm-2">
        	        {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="padding blue-grey-50">
                    <div class="box">
                        <div class="box-header dark-light">
                            <h3>Add Your School</h3>
                            <small>Note that only verified institution will be listed on the registration page.</small>
                        </div>
                        <div class="box-body">
                            <form role="form" action="/cschallenge/schools" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="inputTitle">School name</label>
                                    <input type="text" name="title" class="form-control" id="inputTitle" placeholder="School Name">
                                </div>
                                <div class="form-group">
                                    <center><button type="submit" class="btn">Add School</button></center>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <br/>
                    <div class="padding blue-grey-50">
                    <div class="box">
                        <div class="box-header dark-light">
                            <h3>Schools</h3>
                            <small>List of participating institutions. only verified institution will be listed on the registration page.</small>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover table-striped b-t">
                    	        <thead>
                    	            <tr>
                    	                <th>School</th>
                    	                <th>Verified</th>
                    	            </tr>
                    	        </thead>
                    	        <tbody>
                    	            {% for school in schools %}
                    	            <tr>
                    	                <td>{{school}}</td>
                    	                <td>{{school.verified}}</td>
                    	            </tr>
                    	            {% endfor %}
                    	        </tbody>
                    	    </table>
                        </div>
                    </div>
                    </div>
                    <br/>
        	    </div>
        	</div>
        </div>
        <!-- ############ PAGE END-->
    </div>
  </div>
  <!-- / -->

{% include "app/_footer_top.html" %}

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}