{% load static %}
{% include "app/_header.html" %}
    <div class="app" id="app">

<!-- ############ LAYOUT START-->
  
  {% include "app/_side.html" %}
  <!-- content -->
  <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    {% include "app/_navigation.html" %}
    
    {% include "app/_copyright.html" %}
    <div class="app-body" style="min-height: 600px;">
        <!-- ############ PAGE START-->
        <!-- only need a height for layout 4 -->
      <div class="row-col">
          <div class="col-lg b-r">
              <div class="row no-gutter">
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-ios-grid-view text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">45</h2>
                              <p class="text-muted m-b-md">Problems</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-document text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">219</h2>
                              <p class="text-muted m-b-md">Inputs</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-down text-danger m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-pie-graph text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">8</h2>
                              <p class="text-muted m-b-md">Submissions</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-paper-airplane text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">36</h2>
                              <p class="text-muted m-b-md">Accepted Answers</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row no-gutter">
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-ios-grid-view text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">45</h2>
                              <p class="text-muted m-b-md">Users</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-document text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">219</h2>
                              <p class="text-muted m-b-md">Failed Task</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-r b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-down text-danger m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-pie-graph text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">219</h2>
                              <p class="text-muted m-b-md">Successful Task</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 b-b">
                      <div class="padding">
                          <div>
                              <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
                              <span class="text-muted l-h-1x"><i class="ion-paper-airplane text-muted"></i></span>
                          </div>
                          <div class="text-center">
                              <h2 class="text-center _600">219</h2>
                              <p class="text-muted m-b-md">Pending Task</p>
                              <div>
                                  <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <!-- ############ PAGE END-->
    </div>
  </div>
  <!-- / -->
  {% include "app/_theme_switcher.html" %}
<!-- ############ LAYOUT END-->
</div>

{% include "app/_footer.html" %}