{% load static %}
<div class="footer dark-light text-info-hover">
    
    {% if request.build_absolute_uri|slice:"7:20" != "cargospace.ng" and request.build_absolute_uri|slice:"8:21" != "cargospace.ng" %}
    {% if cschallenge %}
  	<div class="container">
  		<div class="p-y-lg b-b">
  		    {% if csc_registration_is_on %}
  			<a href="/cschallenge" class="btn info rounded pull-right pull-none-xs">Register</a>
  			{% endif %}
  			<div class="m-r">
  				<div class="text-md p-y-sm">Register your team for {{cschallenge}}</div>
  			</div>
  		</div>
  	</div>
  	{% endif %}
  	{% endif %}
  	<div class="container">
  	    <!--
  		<div class="row p-y-lg">
  			<div class="col-md-5">
  				<h6 class="text-sm text-u-c m-b text-muted">I'm</h6>
  				<p>Modern, Clean &amp; Flat User Interface Kit, <br>Made with LOVE &amp; PASSION</p>
  				<p class="m-t-md text-muted p-r-lg">
  					<small class="text-muted">You can use it to build your Content manage system, CRM, Task app, Travel app, Medical app...</small>
  				</p>
  				<div class="text-muted m-y-lg">
  					<h2 class="text-muted _600">
  						<span class="text-muted">Cargo_</span>
  					</h2>
  				</div>
  			</div>
  			<div class="col-sm-2 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">Company</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="#">About us</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="#">Mobile apps</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="#">Blog news</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="#">Jobs</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  			<div class="col-sm-2 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">App</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="app.project.html">Projects</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="app.inbox.html">Inbox</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="app.message.html">Message</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="app.contact.html">Contacts</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  
  			<div class="col-sm-3 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">Connect</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="#">Contact</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="#">Support</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		-->
  		<div class="p-y-lg">
  			<div class="m-b-lg text-sm">
  				
  				<div class="text-muted pull-right pull-none-xs m-b">
  					<span class="text-muted">&copy; Copyright Cargo Space. All rights reserved.</span>
  				</div>
  				<div>
  					<a href="https://facebook.com/cargospaceng" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
  				        <i class="fa fa-facebook"></i>
  				        <i class="fa fa-facebook indigo"></i>
  				    </a>
  				    <a href="https://twitter.com/carg0_" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
  				        <i class="fa fa-twitter"></i>
  				        <i class="fa fa-twitter light-blue"></i>
  				    </a>
  				</div>
  	        </div>
  		</div>
  	</div>
  </div>