{% load static %}
<div class="footer dark-light text-info-hover">
    
    {% if cschallenge %}
  	<div class="container">
  		<div class="p-y-lg b-b">
  		    {% if csc_registration_is_on %}
  			<a href="/cschallenge" class="btn info rounded pull-right pull-none-xs">Register</a>
  			{% endif %}
  			<div class="m-r">
  				<div class="text-md p-y-sm">Register your team for {{cschallenge}}</div>
  			</div>
  		</div>
  	</div>
  	{% endif %}
  	<div class="container">
  	    
  		<div class="row p-y-lg">
  			<div class="col-md-5">
  				<h6 class="text-sm text-u-c m-b text-muted">Competitive Programming Platform</h6>
  				<p>You may contact us when you wish to organise Computer Programming Competitions</p>
  				<p>Also for sponsorship, kindly call us at:</p>
  				<p class="m-t-md text-muted p-r-lg">
  				<address>
  				    +2348181484568<br/>
  				    3rd Floor, nHub Building <br/>
  				    Yakubu Gowon Way, Jos, Nigeria
                </address>
  				</p>
  				<div class="text-muted m-y-lg">
  					<h2 class="text-muted _600">
  						<span class="text-muted">Cargo_</span>
  					</h2>
  				</div>
  			</div>
  			<div class="col-sm-2 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">Sponsors</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="http://nhubnigeria.com">nHub Nigeria</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="http://logicaladdress.com">Logical Address</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="http://yinigeria.com.ng">Young Innovators NG</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  			<div class="col-sm-2 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">Features</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="/contest">Active Contest</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="/cschallenge">CS Challenge 2017</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="/register">Register</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="/login">Login</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  
  			<div class="col-sm-3 col-xs-6">
  				<h6 class="text-sm text-u-c m-b text-muted">Social</h6>
  				<div class="m-b-md">
  					<ul class="nav l-h-2x">
  						<li class="nav-item">
  							<a class="nav-link" href="https://facebook.com">Facebook</a>
  						</li>
  						<li class="nav-item">
  							<a class="nav-link" href="https://twitter.com">Twitter</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		
  		<div class="p-y-lg">
  			<div class="m-b-lg text-sm">
  				
  				<div class="text-muted pull-right pull-none-xs m-b">
  					<span class="text-muted">&copy; Copyright Cargo Space. All rights reserved.</span>
  				</div>
  				<div>
  					<a href="https://facebook.com/cargospaceng" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
  				        <i class="fa fa-facebook"></i>
  				        <i class="fa fa-facebook indigo"></i>
  				    </a>
  				    <a href="https://twitter.com/carg0_" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
  				        <i class="fa fa-twitter"></i>
  				        <i class="fa fa-twitter light-blue"></i>
  				    </a>
  				</div>
  	        </div>
  		</div>
  	</div>
  </div>