{% load static %}
  <div class="p-a white">
        <div class="navbar" data-pjax>
              <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                <i class="ion-android-menu"></i>
              </a>
              <!-- brand -->
              <a href="/" class="navbar-brand">
              	<h2 class="text-muted _600">
  								<span class="text-muted">Cargo_</span>
  							</h2>
              </a>
              
              <!-- / brand -->
      
              <!-- navbar collapse -->
              <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                <!-- link and dropdown -->
                <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                  {% if user == None %}
                  <li class="nav-item">
                    <a href="/register" class="nav-link">
                      <span class="nav-text text-info">
                        Sign Up
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/login" class="nav-link">
                      <span class="btn btn-md rounded info">
                        Log in
                      </span>
                    </a>
                  </li>
                  {% endif %}
                  
                  {% if user %}
                  <li class="nav-item">
                    <a href="/logout" class="nav-link">
                      <span class="nav-text text-info">
                        Log out
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                       <span class="btn btn-md rounded info">Bonjour {{ user.username }}</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
                <!-- / link and dropdown -->
              </div>
              <!-- / navbar collapse -->
        </div>
  </div>