{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="description" content="Excercise Daily and Become a Highly Efficient Software Engineer" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="296E05EC3C1C4FBAF3112E1914109AB5" />
  <meta property="og:title" content="Cargo Space Challenge" />
  <meta property="og:description" content="Excercise Daily and Become a Highly Efficient Software Engineer" />
  <meta property="og:image" content="http://cargospace.ng{% static "app/images/socialgigs.jpg" %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="http://cargospace.ng"/>
  <meta property="fb:app_id" content="1805174903142792"/>

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="{% static "images/logo.png" %}">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static "images/logo.png" %}">
  
  <!-- style -->
  <link rel="stylesheet" href="{% static "app/css/animate.css/animate.min.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/glyphicons/glyphicons.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/font-awesome/css/font-awesome.min.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/material-design-icons/material-design-icons.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/ionicons/css/ionicons.min.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/simple-line-icons/css/simple-line-icons.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/bootstrap/dist/css/bootstrap.min.css" %}" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="{% static "app/css/styles/app.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "app/css/styles/style.css" %}" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="{% static "app/css/styles/font.css" %}" type="text/css" />
  
  <link rel="stylesheet" href="{% static "app/css/style.css" %}" type="text/css" />
  
  {% if page == "create-problem" %}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script src="{% static "app/math/build/js/mathquill.min.js" %}"></script>
  <script>
    tinymce.PluginManager.load('equationeditor', '{% static "app/math/build/js/plugin.min.js" %}');
  </script>
  {% endif %}
  
  <style type="text/css">
    #cover {
        background-image: url({% static "app/images/challengers.jpg" %});
        background-color: #0b203d;
        background-position: center 25%;
        background-size: cover;
    }
  </style>
</head>
<body>