{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">

<!-- ############ LAYOUT START-->

  <div class="padding">
    <div class="navbar">
      <div class="pull-center">
        <!-- brand -->
        <a href="/" class="navbar-brand">
        	<div data-ui-include="'{% static "app/images/logo.svg" %}'"></div>
        	<img src="{% static "app/images/logo.png" %}" alt="." class="hide">
        	<span class="hidden-folded inline">csc</span>
        </a>
        <!-- / brand -->
      </div>
    </div>
  </div>
  <div class="b-t">
    <div class="center-block w-xxl w-auto-xs p-y-md text-center">
      <div class="p-a-md">
        <div>
          <h4>Forgot your password?</h4>
          <p class="text-muted m-y">
            Enter your email below and we will send you instructions on how to change your password.
          </p>
        </div>
        <form name="reset" method="POST" action="/forgot_password">
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" required>
          </div>
          <button type="submit" class="btn black btn-block p-x-md" >Send</button>
        </form>
        <div class="p-y-lg">
          Return to 
          <a href="/login" class="text-primary _600">Sign in</a>
        </div> 
      </div>
    </div>
  </div>

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}
