{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">
  	<script type="text/javascript">
  		var now = '{{ countDown.now }}';
  		var endtime = '{{ countDown.end_time }}';
  		var activeNow = '{{ activeCountDown.now }}';
  		var activeEndtime = '{{ activeCountDown.end_time }}';
  	</script>

 {% include "app/_header_down.html" %}

  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-body">

<!-- ############ PAGE START-->

<div class="row-col white">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 text-center">
		<div class="p-t-lg">
			<h1 class="m-y-md text-black">Cargo Space Challenge</h1>
			<h6 class="text-muted">Solve One Algorithm Challenge Every 3 Hours</h6>
			{% if contestIsActive %}
			<div class="row">
				<div class="col-md-6 offset-sm-3">
				    <a href="/contest" class="btn btn-lg rounded success p-x-md m-x">goto: contest</a>
					<div id="activeClockdiv">
        		        <!--<div class="days-wrap"><span class="activeDays"></span>DAYS</div>-->
        	        	<div class="hours-wrap"><span class="hours"></span>HOURS</div>
        	        	<div class="minutes-wrap"><span class="minutes"></span>MINUTES</div>
        	        	<div class="seconds-wrap"><span class="seconds"></span>SECONDS</div>
	      	        </div>
				</div>
			</div>
			{% endif %}
			<div class="row padding">
				<div class="col-md-8 offset-sm-3">
					<div class="box-color blue pos-rlt">
						<span class="arrow bottom b-blue"></span>
						<div class="box-body"><h4>(new Challenge)->next()</h4></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-sm-3">
					<div id="clockdiv">
        		        <!--<div class="days-wrap"><span class="days"></span>DAYS</div>-->
        	        	<div class="hours-wrap"><span class="hours"></span>HOURS</div>
        	        	<div class="minutes-wrap"><span class="minutes"></span>MINUTES</div>
        	        	<div class="seconds-wrap"><span class="seconds"></span>SECONDS</div>
	      	        </div>
				</div>
			</div>
			<!--<a href="/dashboard" class="btn btn-lg rounded success p-x-md m-x">Get Started</a>-->
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="white">
	<div>
    <canvas data-ui-jp="chart" data-ui-options="
    {
      type: 'line',
      data: {
          labels: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
          datasets: [
              {
                  label: 'Dataset',
                  data: [0, 10, 19, 25, 28, 22, 32, 30, 35, 41, 35, 40, 42, 45, 43, 50, 52, 55, 65, 60, 62, 60, 70, 77, 85, 100],
                  fill: true,
                  lineTension: 0.3,
                  backgroundColor: '#F0F0F0',
                  borderColor: '#E0E0E0',
                  borderWidth: 3,
                  pointBorderColor: '#2196f3',
                  pointBackgroundColor: '#fff',
                  pointBorderWidth: 2,
                  pointHoverRadius: 4,
                  pointHoverBackgroundColor: '#fff',
                  pointHoverBorderColor: '#fff',
                  pointHoverBorderWidth: 2,
                  pointRadius: 0,
                  pointHitRadius: 10,
                  spanGaps: false,
                  barPercentage: 1
              }
          ]
      },
      options: {
      		maintainAspectRatio: false,
	      	scales:{
		      	xAxes: [{
		           display: false,
		           barPercentage: 0.5
		        }],
		        yAxes: [{
		           display: false
		        }]
	       	},
	       	legend:{
	       		display: false
	   		},
	   		tooltips:{
	   			enabled: false
	   		}
      }
    }
    " height="280">
    </canvas>
  	</div>
</div>
<!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->

{% include "app/_footer_top.html" %}

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}