{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">
  	<script type="text/javascript">
  		var now = '{{ countDown.now }}';
  		var endtime = '{{ countDown.end_time }}';
  		var activeNow = '{{ activeCountDown.now }}';
  		var activeEndtime = '{{ activeCountDown.end_time }}';
  	</script>

 {% include "app/_header_down.html" %}

  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-body">

<!-- ############ PAGE START-->
<div id="cover">
<div class="row-col">
	<div class="col-sm-3">
		{% if DEBUG %}
		<div class="padding">
		<span class="label label-lg dark pos-rlt m-r-xs"><b class="arrow right b-dark"></b>Test Mode</span>
		</div>
		{% endif %}
	</div>
	<div class="col-sm-6 text-center">
		<div class="p-t-lg">
			<h1 class="m-y-md text-white">Cargo Space Challenge</h1>
			<h6 class="text-white">The Developer's Exercise - Building Highly Efficient Software Engineers</h6>
			{% if contestIsActive %}
			<div class="row">
				<div class="col-md-6 offset-sm-3">
				    <a href="/contest" class="btn btn-lg rounded success p-x-md m-x">goto: contest</a>
					<div id="activeClockdiv">
        		        <!--<div class="days-wrap"><span class="activeDays"></span>DAYS</div>-->
        	        	<div class="hours-wrap text-white"><span class="hours"></span>HOURS</div>
        	        	<div class="minutes-wrap text-white"><span class="minutes"></span>MINUTES</div>
        	        	<div class="seconds-wrap text-white"><span class="seconds"></span>SECONDS</div>
	      	        </div>
				</div>
			</div>
			{% endif %}
			<div class="row padding">
				<div class="col-md-8 offset-sm-2">
					<div class="box-color blue pos-rlt">
						<span class="arrow bottom b-blue"></span>
						<div class="box-body"><h4>(new Challenge)->next()</h4></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-sm-3">
					<div id="clockdiv">
        		        <!--<div class="days-wrap"><span class="days"></span>DAYS</div>-->
        	        	<div class="hours-wrap text-white"><span class="hours"></span>HOURS</div>
        	        	<div class="minutes-wrap text-white"><span class="minutes"></span>MINUTES</div>
        	        	<div class="seconds-wrap text-white"><span class="seconds"></span>SECONDS</div>
	      	        </div>
				</div>
			</div>
			<!--<a href="/dashboard" class="btn btn-lg rounded success p-x-md m-x">Get Started</a>-->
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<div class="">
	<div>
    <canvas data-ui-jp="chart" data-ui-options="
    {
      type: 'line',
      data: {
          labels: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
          datasets: [
              {
                  label: 'Dataset',
                  data: [0, 10, 19, 25, 28, 22, 32, 30, 35, 41, 35, 40, 42, 45, 43, 50, 52, 55, 65, 60, 62, 60, 70, 77, 85, 100],
                  fill: true,
                  lineTension: 0.3,
                  backgroundColor: '#F0F0F0',
                  borderColor: '#E0E0E0',
                  borderWidth: 3,
                  pointBorderColor: '#2196f3',
                  pointBackgroundColor: '#fff',
                  pointBorderWidth: 2,
                  pointHoverRadius: 4,
                  pointHoverBackgroundColor: '#fff',
                  pointHoverBorderColor: '#fff',
                  pointHoverBorderWidth: 2,
                  pointRadius: 0,
                  pointHitRadius: 10,
                  spanGaps: false,
                  barPercentage: 1
              }
          ]
      },
      options: {
      		maintainAspectRatio: false,
	      	scales:{
		      	xAxes: [{
		           display: false,
		           barPercentage: 0.5
		        }],
		        yAxes: [{
		           display: false
		        }]
	       	},
	       	legend:{
	       		display: false
	   		},
	   		tooltips:{
	   			enabled: false
	   		}
      }
    }
    " height="280">
    </canvas>
  	</div>
</div>
</div> <!-- cover -->
<div class="row-col h-v p-t-lg" style="background-color: #F0F0F0">
	<!--<div class="col-sm-1"></div>-->
	<div class="col-sm-5">
		<div class="p-a-lg">
			<h3 class="m-y-lg">Grow Your Algorithmic Skills</h3>
			<p class="text-muted m-b-lg text-md">
				Take a break every 3hrs to solve a Simple Algorithmic Challenge for 30mins & become a Better Software Engineer
			</p>
			<!--<p class="text-muted m-b-lg text-md">
				Take a break! Solve a Simple Algorithmic Challenge every 3hrs for 30mins & become a Better Software Engineer
				Exercise daily, Earn Reputation and Win some cool goodies
			</p>-->
			<h3 class="m-y-lg">10 Free Cargo Space Tees Every Week</h3>
			<a href="/contest" class="btn info rounded btn-outline b-white b-2x m-b-lg p-x-md">Get it now</a>
		</div>
	</div>
	<div class="col-sm-6" style="min-height: 320px; background-image:url({% static "app/images/cargo_tees.jpg"%}); background-size: cover">
	</div>
</div>
<!-- ############ PAGE END-->
<!--<div style="position: absolute; z-index: -1; background-image: url('{% static "app/images/team.jpg" %}'); background-size: cover"></div>-->
    </div>
  </div>
  <!-- / -->

{% include "app/_footer_top.html" %}

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}