{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">

<!-- ############ LAYOUT START-->

  <div class="padding">
    <div class="navbar">
      <div class="pull-center">
        <!-- brand -->
        <a href="/" class="navbar-brand"><h1><span class="text-muted _600">Cargo_</span></h1></a>
        <!-- / brand -->
      </div>
    </div>
  </div>
  <div class="b-t">
    <div class="center-block w-xxl w-auto-xs p-y-md text-center">
      <div class="p-a-md">
        <!--
        <div>
          <a href="#" class="btn btn-block indigo text-white m-b-sm">
            <i class="fa pull-left"></i>
            Sign in with Logical Address
          </a>
        </div>
        <div class="m-y text-sm">
          OR
        </div>
        -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form name="form" action="/login" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="username" class="form-control" placeholder="Mobile" name="username" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="password" required>
          </div>      
          <div class="m-b-md">        
            <label class="md-check">
              <input type="checkbox"><i class="primary"></i> Keep me signed in
            </label>
          </div>
          <button type="submit" class="btn btn-lg black p-x-lg">Sign in</button>
        </form>
        <div class="m-y">
          <!--<a href="/forgot_password" class="_600">Forgot password?</a>-->
        </div>
        <div>
          Do not have an account? 
          <a href="/register" class="text-primary _600">Sign up</a>
        </div>
      </div>
    </div>
  </div>

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}