{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">
	<script type="text/javascript">
		var now = '{{ countDown.now }}';
  		var endtime = '{{ countDown.end_time }}';
		var activeNow = '{{ activeCountDown.now }}';
		var activeEndtime = '{{ activeCountDown.end_time }}';
	</script>
	
	{% include "app/_header_down.html" %}
  <!-- content -->
  <div id="content" class="app-content" role="main">
	<div class="app-body dark-light">
	<!-- ############ PAGE START-->
	{% if not contestIsActive %}
	<div class="row-col">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 text-center">
			<div class="p-y-lg clearfix">
			    <div class="text-center">
			      <h2 class="_700 m-b">Play time is Over</h2>
			      <h5 class="m-b-md">Get back to work! See you again later</h5>
			      <!--<a href="#" class="btn rounded btn-outline b-info text-info p-x-md m-y">Start Now</a>-->
			    </div>
			    <div class="row padding">
					<div class="col-md-6 offset-sm-3">
						<div class="box-color blue pos-rlt">
							<span class="arrow bottom b-blue"></span>
							<div class="box-body"><h4>(new Challenge)->next()</h4></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-sm-3">
						<div id="clockdiv">
	        		        <!--<div class="days-wrap"><span class="days"></span>DAYS</div>-->
	        	        	<div class="hours-wrap"><span class="hours"></span>HOURS</div>
	        	        	<div class="minutes-wrap"><span class="minutes"></span>MINUTES</div>
	        	        	<div class="seconds-wrap"><span class="seconds"></span>SECONDS</div>
		      	        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	{% endif %}
	
	{% if contestIsActive %}
	<div class="row-col">
		<div id="left_side" class="col-xs-3 w-xl" style="height: 600px">
		    <div class="row-col b-r bg">
		        <div class="padding">
		        	<div class="row">
						<div class="col-md-6 offset-sm-3">
							<div id="activeClockdiv">
		        	        	<div class="hours-wrap"><span class="hours"></span>HOURS</div>
		        	        	<div class="minutes-wrap"><span class="minutes"></span>MINUTES</div>
		        	        	<div class="seconds-wrap"><span class="seconds"></span>SECONDS</div>
			      	        </div>
						</div>
					</div>
					<!--
		        	<div class="row">
						<div class="col-md-6 offset-sm-3">
							<div id="clockdiv">
					        	<div class="hours-wrap"><span class="hours"></span>HOURS</div>
					        	<div class="minutes-wrap"><span class="minutes"></span>MINUTES</div>
					        	<div class="seconds-wrap"><span class="seconds"></span>SECONDS</div>
						     </div>
						</div>
					</div>
					-->
		        	<p>Problemset</p>
		        	<div class="box">
					    <ul class="list inset">
					    	{% for contestProblem in contestProblems %}
							<li class="list-item">
					        	<a herf="" class="pull-left m-r">
				                	<span class="w-30">
				                		{% if contestProblem.problem.problem_type == "A" %}
				                  		<img src="{% static "app/images/a0.jpg" %}" class="w-full" alt="A">
				                  		{% endif %}
				                  		{% if contestProblem.problem.problem_type == "B" %}
				                  		<img src="{% static "app/images/a1.jpg" %}" class="w-full" alt="B">
				                  		{% endif %}
				                  		{% if contestProblem.problem.problem_type == "C" %}
				                  		<img src="{% static "app/images/a2.jpg" %}" class="w-full" alt="C">
				                  		{% endif %}
				                  		{% if contestProblem.problem.problem_type == "D" %}
				                  		<img src="{% static "app/images/a3.jpg" %}" class="w-full" alt="D">
				                  		{% endif %}
				                 	</span>
				                </a>
				                <div class="clear">
				                  <a href="/contest?type={{contestProblem.problem.problem_type}}" class="_500 text-ellipsis">Problem {{contestProblem.problem.problem_type}}</a>
				                </div>
					        </li>
							{% endfor %}
					    </ul>
					</div>
					<!--
		        	<p>Top Challengers</p>
		        	<div class="box">
					    <ul class="list inset">
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        
					    </ul>
					</div>
					-->
		        </div>
		    </div>
		</div>
		<div id="detail" class="col-xs-9" style="min-height: 600px">
			<div class="padding" style="padding-bottom: 10px;">
				<h4>Problem {{currentProblem.problem_type}}: {{currentProblem.title}}</h4>
			</div>
			<div class="padding">
				<div class="row-col">
					<div class="panel box no-border m-b-xs">
						<div class="box-body">
							<div class="">
								<div class="pull-left m-r">
									<span class="w-40">
										{% if currentProblem.problem_type == "A" %}
				                  		<img src="{% static "app/images/a0.jpg" %}" class="w-full" alt="A">
				                  		{% endif %}
				                  		{% if currentProblem.problem_type == "B" %}
				                  		<img src="{% static "app/images/a1.jpg" %}" class="w-full" alt="B">
				                  		{% endif %}
				                  		{% if currentProblem.problem_type == "C" %}
				                  		<img src="{% static "app/images/a2.jpg" %}" class="w-full" alt="C">
				                  		{% endif %}
				                  		{% if currentProblem.problem_type == "D" %}
				                  		<img src="{% static "app/images/a3.jpg" %}" class="w-full" alt="D">
				                  		{% endif %}
				                 	</span>
								</div>
								<p>{{currentProblem.description}}</p>
							</div>
						</div>
					</div>
					
					{% if currentProblem.image %}
					<div class="panel box no-border m-b-xs">
						<div class="box-body">
							<div class="">
								<center><img class="img-responsive" class="img-rounded" src="{{currentProblem.image.url}}" style="max-width: 400px" alt="{{currentProblem.problem_type}} - {{currentProblem.title}}"></center>
							</div>
						</div>
					</div>
					{% endif %}
					
					{% if currentProblemInputs %}
					{% for currentProblemInput in currentProblemInputs %}
					<div class="panel box no-border m-b-xs">
						<div class="box-body">
							<div class="">
								<a href="{{currentProblemInput.problem_stdin.url}}" class="btn btn-fw info">Download Standard Input..</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
					
					<div class="panel box no-border m-b-xs">
						<div class="box-body">
							<div class="">
								<form id="submission" role="form" class="form" action="/submission" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="contest" value="{{contest.id}}"><!--contest_id-->
								<input type="hidden" name="problem" value="{{currentProblem.id}}"><!--problem_id-->
								<div class="form-group">
									<!--<label for="exampleInputFile">Standard Output File..</label>-->
									<div class="form-file">
										<input type="file" name="submission" id="file_upload" {% if not contestIsActive %} disabled {% endif %}>
										<button class="btn info">Upload Standard Output..</button>
									</div>
					              	<!--<p class="help-block">Upload the output of your file.</p>-->
					            </div>
					            </form>
							</div>
						</div>
					</div>
					
					
            
				</div>	
			</div>
		</div>
	</div>
	{% endif %}
	<!-- ############ PAGE END-->
	</div>
  </div>
  <!-- / -->

{% include "app/_footer_top.html" %}

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}