{% load static %}
{% include "app/_header.html" %}
  <div class="app" id="app">
	<script type="text/javascript">
		var now = '{{ countDown.now }}';
		var endtime = '{{ countDown.end_time }}';
	</script>
	
	{% include "app/_header_down.html" %}
  <!-- content -->
  <div id="content" class="app-content" role="main">
	<div class="app-body dark-light">
	<!-- ############ PAGE START-->
	<div class="row-col">
		<div id="left_side" class="col-xs-3 w-xl" style="height: 600px">
		    <div class="row-col b-r bg">
		        <div class="padding">
		        	<p>Problemset</p>
		        	<div class="box">
					    <ul class="list inset">
					        <li class="list-item"><a herf="" class="list-left">
					        	<span class="w-40 square avatar accent"><span>A</span> <i class="away b-white"></i></span></a>
					            <div class="list-body">
					                <div><a href="#">Problem A</a></div>
					            </div>
					        </li>
					        <li class="list-item"><a herf="" class="list-left">
					        	<span class="w-40 circle avatar green"><span>B</span> <i class="off b-white"></i></span></a>
					            <div class="list-body">
					                <div><a href="#">Problem B</a></div>
					            </div>
					        </li>
					        <li class="list-item"><a herf="" class="list-left">
					        	<span class="w-40 circle avatar green"><span>C</span> <i class="off b-white"></i></span></a>
					            <div class="list-body">
					                <div><a href="#">Problem C</a></div>
					            </div>
					        </li>
					        <li class="list-item"><a herf="" class="list-left">
					        	<span class="w-40 circle avatar green"><span>D</span> <i class="off b-white"></i></span></a>
					            <div class="list-body">
					                <div><a href="#">Problem D</a></div>
					            </div>
					        </li>
					    </ul>
					</div>
		        	<p>Top Challengers</p>
		        	<div class="box">
		        		<div class="list-group list-group-sm no-borders no-radius">
		        			<div class="list-group-item">
		        				<span class="pull-right">293,200</span>
		        				<i class="fa fa-fw fa-circle text-success"></i> Daser Retnan
		        				<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
		        			</div>
		        			<div class="list-group-item">
		        				<span class="pull-right">293,200</span>
		        				<i class="fa fa-fw fa-circle text-success"></i> Victor Olowe
		        				<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
		        			</div>
		        			<div class="list-group-item">
		        				<span class="pull-right">293,200</span>
		        				<i class="fa fa-fw fa-circle text-success"></i> Loreta Jugu
		        				<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
		        			</div>
		        			<div class="list-group-item">
		        				<span class="pull-right">293,200</span>
		        				<i class="fa fa-fw fa-circle text-success"></i> Nani Chang
		        				<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
		        			</div>
		        			<div class="list-group-item">
		        				<span class="pull-right">293,200</span>
		        				<i class="fa fa-fw fa-circle text-success"></i> Gorilla Head
		        				<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
		        			</div>
		        		</div>
		        	</div>
		        	<p>Top Challengers</p>
		        	<div class="box">
					    <ul class="list inset">
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        <li class="list-item">
					        	<a herf="" class="list-left">
					        		<span class="w-40 circle avatar accent"><span>C</span>
					        		<i class="away b-white"></i></span>
					        	</a>
					            <div class="list-body">
					                <div>
					                	<a href="#">Chris Fox<span class="pull-right">293,200</span></a>
					                	<small class="text-muted text-ellipsis">Cargo Space Challenger</small>
					                </div>
					            </div>
					        </li>
					        
					    </ul>
					</div>
					
		        </div>
		    </div>
		</div>
		<div id="detail" class="col-xs-9" style="height: 600px">
			<div class="padding">
				<div class="row-col">
					<div class="panel box no-border m-b-xs">
						<div class="box-header p-y-sm">Contest II</div>
						<div class="box-body">
							<div class="text-sm text-muted">
								<div class="pull-left m-r">
									<span class="text-md w-32 avatar rounded success">A</span>
								</div>
								<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,<br><br>raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- ############ PAGE END-->
	</div>
  </div>
  <!-- / -->

{% include "app/_footer_top.html" %}

<!-- ############ LAYOUT END-->
  </div>
{% include "app/_footer.html" %}